/***************************************************************tag elemnts*****************************************************************/
body{
  font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

h1{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/***************************************************************class elemnts*****************************************************************/
/* nav bar */
.navbar{
  padding:0 0  4.5rem 0;
}
.nav-item{
  padding-left: 18px;
  padding-right: 18px;
}
.nav-link{
  font-size: 1.2rem;
}

.navbar-brand{
font-weight: bold;
font-size: 2.5rem;
}
/* Download buttons */
.Download{
margin: 5% 3% 5% 0;
}

/* container */
.container-fluid{
padding: 3% 15% 10%;
}

/* title image */
.top-image{
  width:60%;
    transform:rotate(25deg);
    margin-top: 2rem;
    position: absolute;
    right: 30%;

}
.col-lg-4{
  margin: 50px 0 ;
}

.feature-h3{
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
}
.features-p{
  color: #8f8f8f;
    width: 220px;
  text-align:center;
  margin:0 auto;
}

.logo{
  padding-bottom: 1rem;
  color:#ef8172;
  text-decoration: none;
}
.logo:hover{
  color: #ff4c68;
}

.test-img{
  width: 100px;
  border-radius: 100%;
}
.press-img{
  width:15%;
  margin: 20px 20px 50px 20px;
}

.carousel-item{
  padding: 3% 15%;
}

/* pricing */
.pricing-column{
  padding: 3% 2%;
}

/* end */
.end-button{
  margin: 5% 2%;

}

.end-h3{
  font-family: "Montserrat";
  font-weight: bold;

  color: #fff;
}

.connection{
  margin: auto 2%;
}

.twitter:hover{
color: #00acee;
}
.fb:hover{
color: #3b5998;
}
.insta:hover{
  color: #dd2a7b;
}
.mail:hover{
  color: #d44638;
}
.copy{
  margin: 0;
  position:relative;
  top: 50px;
}
/***************************************************************id elemnts*****************************************************************/
#title{
  background-color: #ff4c68;

position: relative;
}
/* testimonials */
#testimonials{
  background-color: #ff4c68;
  text-align: center;
  color:#fff;
}
#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

/* pricing */

#pricing{
  padding: 50px 100px;
  text-align: center;
}

/* features */
#features{
  background-color: white;
  padding-top: 20px;
  position: relative;

}

#cta{
  background-color: #ff4c68;
text-align: center;
padding: 7% 32%;
}

#footer{
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

/* media */

@media (max-width:1000px) {
  .top-image{
    position: static;
      transform:rotate(0);
  }
#title{
  text-align: center;
}
}
